# Virtualenv
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Variáveis sensíveis
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
